/* CSS file */

h1.heading {
    text-align: center;
    font-size: 700%;
}

#img {
    border-radius: 4px; 
    text-align: center;   
}

#btn {
    
    background-color: #04AA6D;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    
    border-radius: 12px;
}
#btn-align {
    text-align: center;
    padding: 80px;
}